Makefile
Makefile.Debug
Makefile.Release
debug/
release/
asio/
local/
indent.sh
*.bat
vc90.pdb
vc100.pdb
*~
*.pb.h
*.pb.cc
*.diff
*.orig
*.patch
*.rej
plugins/manual/ui_manual.h
src/mumble/moc_wRequest.h
src/mumble/moc_wViewerHandler.h